# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.p-lang'
'name': 'PLang'
'fileTypes': [
  'plg'
]
'patterns': [
  {
    'match': '(#)[\\s\\S]*'
    'name': 'comment'
  },
  {
    'begin': '\/\-\-'
    'end': '\/\-\-'
    'name': 'comment'
  },
  {
    'match': '\\b(IF|ELSE|WHILE|FOR EACH|IN|MORE THAN|LESS THAN|EQUAL TO|TRUE|FALSE|FUNCTION)\\b'
    'name': 'constant.language'
  },
  {
    'match': '\\b(CLASS)\\b'
    'name': 'entity.name.type'
  },
  {
    'match': '\\b(BREAK|CONTINUE)\\b'
    'name': 'keyword.control'
  },
  {
    'match': '\\b(NULL)\\b'
    'name': 'variable.other'
  },
  {
    'match': '\\b(VAR|ARRAY|PARAM)\\b'
    'name': 'storage.type'
  },
  {
    'match': '\\b\\_[a-zA-Z0-9]*\\b'
    'name': 'variable'
  },
  {
    'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
    'name': 'constant.numeric'
  },
  {
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double'
  }
]
